<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sprint.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sprint.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @sprint.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @sprint.end_date %>
</p>

<p>
  <strong>Release:</strong>
  <%= @sprint.Release.title %>
</p>

<%= link_to 'Edit', edit_sprint_path(@sprint) %> |
<%= link_to 'Back', sprints_path %>
