<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title, size: 40 %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description, cols: 36, rows: 6 %>
      </div>
      <div class="field">
        <%= f.label :status %><br>
        <%= f.select :status, Story::STATUS %>
      </div>
      <div class="field">
          <%= f.label :user_id, "Assign To" %><br />
          <%= collection_select(:story, :user_id, User.all, :id, :full_name, prompt: true) %>
      </div>
      <div class="field">
          <%= f.label :estimate, "Story Size" %><br/>
          <%= f.select :estimate, Story::FIBONACCI_SEQUENCE, prompt: true%><br/>
      </div>
      <div class="field">
          <%= f.label :epic_id %>
          <%= f.text_field :epic_id %>
      </div>
      <div class="field">
          <%= f.label :product_id %>
          <%= f.text_field :product_id %>
      </div>
      <div>
          <%= f.label :sprint_id  %>
          <%= f.text_field :sprint_id  %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>

<% end %>
