<article class="story">    
    <p>
      <strong class="form_header">#<%= @story.id%> - 
        <%= @story.title %>
      </strong>
    </p>
    
    <aside class="story_stats">
        Assigned to: <%= @story.user.full_name if @story.user != nil %><br />
        Last update: <%= @story.updated_at%>
    </aside>

    <p>
      <%= @story.description %>
    </p>
    
    <p>
      <strong>Status:</strong>
      <%= @story.status %>
    </p>
</article>