<h1 class="form_header">Listing stories</h1>

<table class="table">
  <thead>
    <tr class="header">
      <th></th>
      <th>Assigned to</th>
      <th>Story Title</th>
      <th>Status</th>
      
      <th></th>
      <th><%= button_to 'New Story', new_story_path, method: :get %></th>
    </tr>
  </thead>
  <tfoot>
        <tr>
            <td colspan="6">
                Number of stories = <%= @stories.length %>
            </td>
        </tr>
  </tfoot>
  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td class="td"></td>
        <td class="td"><%= story.user.full_name if story.user != nil %></td>
        <td class="td"><%= link_to "Story \##{story.id} - #{story.title}", story %></td>
        <td class="td"><%= story.status %></td>
        
        <td class="td"><%= link_to image_tag("Edit-icon.png"), edit_story_path(story) %></td>
        <td class="td"><%= link_to image_tag("Delete_Icon.png"), story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>

</table>

<br>


