<p id="notice"><%= notice %></p>
<%= button_to '<-- Back to list of stories', stories_path , :method => :get %>

<%= render "show"%>

<%= button_to 'Edit', edit_story_path(@story) , :method => :get %>

<h1 class="form_header">Tasks related to this story</h1>

<%= render "tasks/list_tasks"%>
