<h1>Epics</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Number of Stories</th>
      <th>Product</th>
      
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @epics.each do |epic| %>
      <tr>
        <td><%= link_to epic.title, epic %></td>
        <td ><%= epic.stories.length %></td>
        <td ><%= epic.Product.title %></td>
        <td ><%= link_to 'Edit', edit_epic_path(epic) %></td>
        <td ><%= link_to 'Destroy', epic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Epic', new_epic_path %>
