<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @release.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @release.description %>
</p>

<p>
  <strong>Target release date:</strong>
  <%= @release.target_release_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @release.status %>
</p>

<p>
  <strong>Product:</strong>
  <%= @release.Product %>
</p>

<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>
