<h1 class="form_header">Products</h1>

<table class="table">
  <thead class="header">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Number of Releases</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class="td"><%= link_to product.title, product %></td>
        <td class="td"><%= product.description %></td>
        <td class="td"><%= product.releases.length %></td>
        <td class="td"><%= link_to image_tag('Edit-icon.png'), edit_product_path(product) %></td>
        <td class="td"><%= link_to image_tag('Delete_Icon.png'), product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
