<!DOCTYPE html>
<html>
<head>
  <title>AgileOS</title>
  <%= stylesheet_link_tag "application" , media: "all", "data-turbolinks-track" => true%>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<header>AgileOS</header>
<nav>
    <%= link_to "Admin Portal", admin_portal_path %> | 
    <%= link_to "Users", users_path %> | 
    <%= link_to "Stories", stories_path %> | 
    <%= link_to "Products", products_path %> | 
    <%= link_to "Releases", releases_path %> | 
    <%= link_to "Epics", epics_path %> | 
    <%= link_to "Sprints", sprints_path %>
</nav>
<body id="<%= params[:controller].parameterize%>_controller">

<%= yield %>

</body>
</html>
