<!DOCTYPE html>
<html>
<head>
  <title>AgileOS</title>
  <%= stylesheet_link_tag "application" , media: "all", "data-turbolinks-track" => true%>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<nav>
    <%= link_to "Admin Portal", admin_portal_path %> | 
    <%= link_to "Manage Users", users_path %> | 
    <%= link_to "Manage Stories", stories_path %> | 
    <%= link_to "Manage Products", products_path %> | 
    <%= link_to "Manage Releases", releases_path %> | 
    <%= link_to "Manage Epics", epics_path %>
</nav>
<body id="<%= params[:controller].parameterize%>_controller">

<%= yield %>

</body>
</html>
